/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

html {
  @apply bg-primaryDark
}

a {
  text-decoration: underline solid theme('colors.secondary');
  text-decoration-thickness: 2px;
}

.underline-wavy {
  text-decoration: underline;
  text-decoration-style: wavy;
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(70ch, 85%)
    1fr;
  
}
.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

.hero-height {
  min-height: 65vh;
}

.bg-blue-gradient {
  background: linear-gradient(to bottom, theme('colors.primary'), theme('colors.primaryDark'))
}

.board-wrapper {
    width: 100%;
    height: 100%;
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: hsl(204deg 100% 30%);
}

.text-shadow-orange {
  text-shadow: 4px 3px 0px theme('colors.secondary');
}

.text-shadow-white {
  text-shadow: 2px 2px 0px #fff;
}

.square {
  color: hsl(204deg 100% 30%);
  display: inline-block;
  border: none;
  width: 100%;
  background-color: theme('colors.gray.100');
  font-size: 4rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

.move {
  transition: all 0.5s ease-in;
}

.first-letter:first-letter {
  text-transform:capitalize
}
