/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

html {
  background-color: ;
}

.underline-wavy {
  text-decoration: underline;
  text-decoration-style: wavy;
}
